= simple_form_for @message do |f|
  = f.input :name, readonly: true
  = f.input :content, input_html: {rows: 3}, readonly: true
  = f.hidden_field :list_id
  = f.input :list, disabled: true, input_html: {value: @list.name}, readonly: true
  = f.submit "Save", class: "btn btn-success"
