.container-narrow
  %hr
  %h1 
    Tell us what 
    %strong you need
  %br
  = form_for @contact, url: contact_us_path, html: {class: "form-horizontal"},method: :create  do |f|
    %div
      .row-fluid
        .span8
          .control-group
            %label.control-label Name
            .controls
              = f.text_field :name, placeholder: "Name"
          .control-group
            %label.control-label Email
            .controls
              = f.text_field :email, placeholder: "Email"
          .control-group
            %label.control-label Phone
            .controls
              = f.text_field :phone, placeholder: "Phone"
          .control-group
            %label.control-label Country
            .controls
              = f.text_field :country, placeholder: "Country"
          .control-group
            %label.control-label Message
            .controls
              = f.text_area :message, placeholder: "Message",rows: 7
          .control-group
            .controls
              = submit_tag "Send", class: "btn btn-success"
        .span4.contact-details
          %p Number:
          %h5 +63 2 5707884
          %hr
          %p Address:
          %h5 
            2nd Floor Topy Building 1
            No.3 Economia Street
            Libis, Quezon City
            Philippines
          %hr
          %p Email:
          %h5 support@smsgogo.co
          %hr
          %p Social Media:
          %h5
            %a.icon-facebook-sign.icon-2x.socialmedia{href: "https://www.facebook.com/Smsgogo"}
            %a.icon-twitter-sign.icon-2x.socialmedia{href: "https://twitter.com/SMSGoGo1"}

