.container-narrow
  %hr
  %h1 
    Tell us what 
    %strong you 
    think
  %br
  = form_for @contact, url: contact_us_path, html: {class: "form-horizontal"},method: :create  do |f|
    %div
      .row-fluid
        .span8
          .control-group
            %label.control-label Name
            .controls
              = f.text_field :name, placeholder: "Name"
          .control-group
            %label.control-label Email
            .controls
              = f.text_field :email, placeholder: "Email"
          .control-group
            %label.control-label Phone
            .controls
              = f.text_field :phone, placeholder: "Phone"
          .control-group
            %label.control-label Country
            .controls
              = f.text_field :country, placeholder: "Country"
          .control-group
            %label.control-label Message
            .controls
              = f.text_area :message, placeholder: "Message",rows: 10
          .control-group
            .controls
              = submit_tag "Send", class: "btn btn-success"
        .span4.contact-details
          %p Number:
          %h5 12323234
          %hr
          %p Address:
          %h5 some address, Quezon City
          %hr
          %p Email:
          %h5 support@smsgogo.co

