!!!
%html
  %head
    %title Smsgogo
    = stylesheet_link_tag    "application", :media => "all"
    = google_webfonts_link_tag :open_sans => [300,400,700]
    = google_webfonts_link_tag :bevan => [300,400,700]
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "layouts/header"
    - if flash[:success]
      .container-narrow
        .alert.alert-success
          %button.close
            &times;
          %strong Success!
          = flash[:success]
    - if flash[:error]
      .container-narrow
        .alert.alert-error
          %button.close
            &times;
          %strong Oops!
          = flash[:error]
    .header-padding
    = yield
    = render "layouts/footer"
